# SPDX-License-Identifier: GPL-2.0
config PPC_XIVE
	bool
	select PPC_SMP_MUXED_IPI
	select HARDIRQS_SW_RESEND

config PPC_XIVE_NATIVE
	bool
	select PPC_XIVE
	depends on PPC_POWERNV

config PPC_XIVE_SPAPR
	bool
	select PPC_XIVE

config PPC_XIVE_KUNIT_TEST
	tristate "KUnit tests for XIVE interrupt controller" if !KUNIT_ALL_TESTS
	depends on KUNIT && PPC_XIVE
	default KUNIT_ALL_TESTS
	help
	  This builds unit tests for the XIVE interrupt controller.

	  If unsure, say N.
